@import "~bootstrap/scss/bootstrap.scss";

$celeste: #37BBED !default;
$rosado: #F17BAA !default;

img {
    max-width: 100%; 
}


.bg-light-gray {
    background-color: $gray-100;
}

.bg-gray {
    background-color: $gray-200;
}

.bg-celeste {
    background-color: $celeste;
}

@include media-breakpoint-up(lg) {    
    .bg-lg-light {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;    
    }
}

.section {
    position: relative;
}


.square-card {
    border-radius: 0;
    border: none;

    img {
        border-radius: 0;
    }
}

.card-rosa .card-body {
    background-color: $rosado;
}

.card-celeste .card-body {
    background-color: $celeste;
}


.top-navbar {
    height: 80px;

    img {
        height: 80px;
    }
}
nav.navbar {
    li {
        a.nav-link {
            color: $primary !important;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;            
        }
    }

    a.btn {
        font-weight: 600;
        text-transform: uppercase;            
    }
}


hero {
    display: flex;
    height: calc(100vh - 200px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;    
    z-index: 9;
    position: relative;    
}

@include media-breakpoint-up(sm) { 
    hero {
        height: calc(100vh - 200px);
    }    
}
@include media-breakpoint-up(md) {
    hero {
        height: calc(100vh - 200px);
    }    
}
@include media-breakpoint-up(lg) {
    hero {
        height: calc(100vh - 200px);
    }    
}
@include media-breakpoint-up(xl) {
    hero {
        height: calc(100vh - 200px);
    }    
}
@include media-breakpoint-up(xxl) {
    hero {
        height: calc(100vh - 300px);
        font-size: 1.4rem;
    }    
}


footer {
    background-color: $celeste;
    color: $white;
    padding: 3rem;

    ul {
        list-style: none;
        margin-left: initial;

        li {
            a.nav-link {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
