<!DOCTYPE html>
<html lang="es-AR">
<head>
    {% include "_head.twig" %}
    {% block styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% include "_body_scripts.twig" %}

    {% block scripts %}{% endblock %}
</body>
</html>
