<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="p-2">La Unidad de Transformación Digital Patagonia Sur es un trabajo conjunto entre el Ministerio de Desarrollo Productivo de Argentina y la Universidad Nacional de Tierra del Fuego, para apoyar a las pequeñas y medianas empresas de Santa Cruz y Tierra del Fuego en sus procesos de transformación digital, hacia la industria 4.0</p>
            </div>
            <div class="col-md-4">
                {% include "./components/_navmenu.twig" %}
            </div>
        </div>
    </div>
</footer>
