<hero class="container-fluid" style="background-image: url(images/banner-bg-img.png);">
    <div class="container">        
        <div class="col-lg-4 hero-title">
            <h1 class="text-primary" style="font-size: 1.5rem;">
                Acompañamos a las <span style="font-size: xx-large">PYMES</span><br>
                de <span style="font-size: xx-large">Patagonia Sur</span><br> 
                en sus procesos de<br> 
                <span style="font-size: xx-large">digitalización e innovación</span>
            </h1>
            <p class="text-secondary">La Unidad de Transformación Digital Patagonia Sur es un trabajo conjunto entre el Ministerio de Desarrollo Productivo de Argentina y la Universidad Nacional de Tierra del Fuego, para apoyar a las pequeñas y medianas empresas de Santa Cruz y Tierra del Fuego en sus procesos de transformación digital, hacia la industria 4.0</p>        
        </div>
    </div>
</hero>
