<div class="py-5 p-lg-5 section bg-light-gray" style="margin-top: -1.5rem;">
    <div class="container">
        <div class="row">
            <div class="col-3 col-lg-1">
                <img src="images/icon-eventos.png">
            </div>
            <div class="col-9 col-lg-3">
                <h2>Próximos eventos</h2>   
                <p>Conocé todo lo que se viene, participá con tu PYME y capacitate para mejorar día a día.</p> 
                <p>En un mundo cambiante, lo mejor es mantenerse en acción.</p>
                <a href="#">Ver todos</a>
            </div>
            <div class="col-lg-4">
                {% include "./components/_square_card.twig" with 
                    {
                        'css': 'card-rosa', 
                        'src_img': 'images/img3.png',
                        'subtitle': 'Taller de trabajo',
                        'title': 'Las organizaciones como espacio para el desarrollo tecnológico'
                    } 
                %}
            </div>
            <div class="col-lg-4">
                {% include "./components/_square_card.twig" with 
                    {
                        'css': 'card-celeste', 
                        'src_img': 'images/img3.png',
                        'subtitle': 'Taller de trabajo',
                        'title': 'Pensar en marketing. Mercados globales y cambio constante'
                    } 
                %}
            </div>
        </div>
    </div>    
</div>
