{% extends "partials/_base.twig" %}

{% block body %}

    {% include "partials/_navbar.twig" %}

<div class="py-5 p-lg-5 section">
    <div class="container">
        <div class="row">
            <div class="col-3 col-lg-1">
                <img src="{{theme.link}}/src/images/icon-novedades.png">            
            </div>
            <div class="col-9 col-lg-3 mb-5">
                <h2>Novedades</h2>   
                <p>Estamos haciendo muchas cosas, por eso aquí te compartimos lo que pasó y te facilitamos información que puede interesarte.</p>
                <p>¡Participá de esta creciente comunidad para potenciar las pequeñas empresas de la Patagonia Sur!</p>
            </div>

            {% for index, item in novedades %}                
                <div class="col-md-6 col-lg-4 mb-3">
                    {% include "./partials/components/_square_card.twig" with 
                        {
                            'css': index is odd ? 'card-rosa' : 'card-celeste', 
                            'src_img': Image(item.imagen).src('large'),
                            'subtitle': item.subtitulo,
                            'title': item.title,
                            'href': item.link,
                            'effect': 'fade-in',
                            'delay': index * 100
                        } 
                    %}
                </div>
            {% endfor %}
            
        </div>
    </div>    
</div>

    {% include "partials/_home_participa.twig" %}
    {% include "partials/_footer.twig" %}

{% endblock %}
